html, body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}

#parameters {
  color: #FFFFFF;
  background-color: #000000;
  border: 0px;
  margin-left: 1ch;
  font-size: 15px;
  height: 720px;
  width: 50ch;

  resize: none;
}

#catalog {
  width: 100%;
}
